#music{
    border-radius: 10px;
    float: left;
    width: 180px;
    height: 310px;
    background: rgb(78, 78, 78);
    margin: 5px;
    padding: 5px;
    color: white;
    bottom: 0;
}

#spotify{
    border-radius: 7px;
    width:180px;
}

.di.b4{
    width:100%;
    background-color: blue;
}