#music{
    border-radius: 10px;
    float: left;
    width: 180px;
    height: 310px;
    background: rgb(51, 51, 51);
    margin: 5px;
    padding: 5px;
    color: white;
    bottom: 0;
}

#spotify{
    border-radius: 5px;
    width:180px;
    margin:0px;
    padding: 0px;
}

.di.b4{
    width:100%;
    background-color: blue;
}

#line{
    margin-bottom: 12px;
}